#informesappria
	#informes_wrapper
		.headerInformes
			.fechaInformes
				position relative
				float right
				margin-top .5em
				margin-right 2.5em
				color #C1C1C1
				.wrapInputFechas
					display inline-block
					margin 0 1em
					input
						width 7em
						box-shadow none
						text-align center
						background transparent
						border none
						color #2B3033
						font-weight bold
						padding 0 .5em
						font-size 1.1em
						margin-top -2em
						cursor pointer
					.underLineInformes
						position relative
						border-bottom 2px solid #666
						width 0
						transition all .1s ease-in-out
						margin 0 auto
					.underLineInformes.open
						position relative
						border-bottom 2px solid #666
						width 100%
						transition all .3s ease-in-out
						margin 0 auto
